html {
  font-size: 62.5%; /* 10px = 1rem! */
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}
